* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header {
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header-logo-container {
    margin: 0 auto 4rem;
    padding-top: 8rem;
    width: fit-content;
}
.header-mainText {
    margin: auto;
    width: fit-content;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    text-align: center;
}
.header-paragraph {
    width: 30rem;
    margin: 1rem auto 2.5rem;
    text-align: center;
    color: hsl(201, 11%, 66%);
    line-height: 1.5rem;
}
.header-btn-container {
    width: fit-content;
    margin: 0 auto 2rem;
    gap: 1rem;
    display: flex;
}
.header-btn {
    width: 11rem;
    height: 2.7rem;
    border-radius: 3rem;
    color: #ffffff;
    border: none;
    border-bottom: 0.2rem;
    border-bottom-style: solid;
}
.header-btn-ios {
    background-color: hsl(171, 66%, 44%);
    border-bottom-color:hsl(171, 92%, 30%);
    box-shadow: 0rem 0.5rem 01rem hsl(171, 100%, 89%);
    /* border-bottom-width: 1rem; */
    /* border-bottom: solid; */
}
.header-btn-mac {
    background-color: hsl(233, 100%, 69%);
    border-bottom-color: rgb(66, 81, 194);
    box-shadow: 0rem 0.5rem 01rem hsl(233, 100%, 89%);
}
.header-btn-ios:hover{
    background-color: hsl(171, 67%, 62%);
}
.header-btn-mac:hover {
    background-color: hsl(233, 71%, 70%);
}
.keep-track-header h2 {
    width: fit-content;
    margin: 7rem auto 0;
    color: hsl(210, 10%, 33%);
}
.keep-track-header-pg {
    width: 35rem;
    margin: 1.5rem auto;
    text-align: center;
    line-height: 1.4rem;
    color: hsl(201, 11%, 66%);
}
.keep-track-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem auto 5rem;
}
.keep-track-image {
    width: 42.2rem;
}
.keep-track-main-text {
    padding: 3rem 0 2rem 5rem;
}
.keep-track-main-header {
    color: hsl(210, 10%, 33%);
}
.keep-track-main-pg {
    margin: 0.8rem 0 3rem;
    width: 19rem;
    line-height: 1.8rem;
    color:  hsl(201, 11%, 66%);
}
/* Aceess container styling */
.access-header-text {
    width: fit-content;
    margin: auto;
    color: hsl(210, 10%, 33%);
}
.access-header-pg {
    width: 35rem;
    margin: 1rem auto 6rem;
    text-align: center;
    color: hsl(201, 11%, 66%);
}
.access-image-container {
    width: fit-content;
    margin: auto;
}
/* supercharge container styling */
.supercharge-header-text {
    width: fit-content;
    margin: auto;
    color: hsl(210, 10%, 33%);
}
.supercharge-header-pg {
    width: fit-content;
    margin: 1rem auto 3rem;
    color: hsl(201, 11%, 66%);
}
.supercharge-main {
    display: flex;
    width: fit-content;
    gap: 3rem;
    margin: auto;
}
.supercharge-main-box {
    width: 19.5rem;
}
.supercharge-main-box-img-container {
    width: fit-content;
    margin: auto;
}
.supercharge-main-box-hd-text {
    text-align: center;
    margin: 2rem auto 1.5rem;
    color: hsl(210, 10%, 33%);
}
.supercharge-main-box-hd-pg {
    text-align: center;
    line-height: 2rem;
    color: hsl(201, 11%, 66%);
}
.supercharge-footer {
    display: flex;
    width: fit-content;
    gap: 5rem;
    align-items: center;
    margin: 8rem auto;
}
.footer-container {
    display: flex;
    align-items: center;
    background-color: hsl(0, 0%, 96%);
    height: 9rem;
    margin-top: 8rem;
}
.footer-logo-container {
    padding: 0 10rem;
    
}
.footer-logo-container img {
    width: 3.5rem;
}
.footer-nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 3rem;
    margin-right: 20rem;
}
.footer-sm-container {
    display: flex;
    gap: 2rem;
}
button:hover {
    cursor: pointer;
}
.footer-nav-container p:hover {
    color: hsl(171, 66%, 44%);
    cursor: pointer;
}
.footer-sm-container-svg:hover { 
    cursor: pointer;
    fill: hsl(171, 66%, 44%);
}
@media screen and (max-width:375px) {
    body {
        width: 375px;
    }
    header {
        background-image: url(images/bg-header-mobile.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 0% 2rem;
    }
    .header-mainText {
        /* width: 19.5rem; */
        font-size: 2.1rem;
    }
    .header-paragraph {
        width: unset;
    }
    .header-btn-container {
        flex-direction: column;
        width: unset;
    }
    .header-btn {
        width: 100%;
        height: 3.5rem;
    }
    .keep-track-container {
        margin-top: 12rem;
        padding: 0% 2rem;
    }
    .keep-track-header h2 {
        width: unset;
        font-size: 1.8rem;
        text-align: center;
    }
    .keep-track-header-pg {
        width:unset;
        font-size: 1.15rem;
        line-height: 1.7rem;
    }
    .keep-track-main {
        display: flex;
        flex-direction: column;
        width: unset;
        margin: 2rem 0 8rem;
    }
    .keep-track-image {
        width: 100%;
    }
    .keep-track-main-text {
        padding: 0rem;
        margin: 3rem 0 2.5rem;
    }
    .keep-track-main-header {
        color: hsl(210, 10%, 33%);
        text-align: center;
    }
    .keep-track-main-pg {
        margin: 0.8rem 0 3rem;
        width: unset;
        text-align: center;
        line-height: 1.8rem;
        font-size: 1.2rem;
        color:  hsl(201, 11%, 66%);
    }
    .access-container {
        width: unset;
    }
    .access-header {
        margin: 0% 2rem;
    }
    .access-header-pg {
        width: unset;
    }
    .access-image {
        width: 100%;
        margin: auto;
    }
    .supercharge-main {
        flex-direction: column;
    }
    .supercharge-footer {
        flex-direction: column;
    }
    .clipboard-container {
        padding: 0% 2rem;
    }
    .footer-container {
        flex-direction: column;
        gap: 3rem;
        height: fit-content;
        padding: 3rem 0rem;
    }
    .footer-nav-container {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
    }
}